{% extends "tm/base.html" %}

{% block page_title %}
help
{% endblock %}

{% block pagecontent %}
	<div class="hero-unit subhero">
		<h2>OED explorer: Help</h2>
	</div>


	<div class="row-fluid">
		<div class="span6 offset1 well">
			<p>Lorem ipsum dolor sit amet, vis ne quem alii constituto, mel ea vocent referrentur. Latine torquatos te vix. Sea accumsan expetenda referrentur ad. Ex tritani perpetua maluisset vix. Homero perfecto sea an, prompta percipit ea ius. Sea cu solum propriae pericula. Ex pro aeterno integre detracto, per quod soleat fabellas ad, est ex maiorum interpretaris.</p>
		</div>
	</div>
{% endblock %}